.header_accueil{
  position: fixed;
  z-index: 3;
  width: 100%;
  background: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
};
main{
  .presentation{
    position: relative;
    &-bg{
      width: 100%;
      height: 77vh;
      object-fit: cover;
      .presentation-bg-img{
        filter: brightness(0.7);
      }
    }
    &_replay-infos{
      position: absolute;
      bottom: 45%;
      right: 0%;
      width: 15%;
      align-items: center;
      display: flex;
      /* Mobile */
      @media (max-width: 600px) { 
        bottom: 20%;
        right: 0%;
        width: 65%;
      }
      /* Tablette */
      @media (min-width: 601px) and (max-width: 1024px) {
        width: 35%;
      }
        & a{
          width: 40%;
        }
        & img{
          border-radius: 2rem;
          padding: 0.4rem;
          width: 40%;
          margin-right: 1rem;
          cursor: pointer;
          &:hover{
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      & span{
        border-left: 3px solid #dcdcdc;
        width: 100%;
        background-color: rgba(51,51,51,.6);
        padding: 0.3rem;
      }
    }
    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0%;
      background: linear-gradient(180deg, rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5), #111);
    }
  }
  .categories-container{
    padding: 0 0 0 4%;
    &:hover .right{
      display: flex;
      /* Mobile */
      @media (max-width: 600px) { 
        display: none;
      }
    }
    &:hover .left{
      display: flex;
      /* Mobile */
      @media (max-width: 600px) { 
        display: none;
      }
    }
    & h2{
      margin-top: 0;
      margin-bottom: .7rem;
      font-size: 1.3rem;
    }
    // .no-results{
    //   border: 1px solid red;
    // }
    .carousel-arrow{
      position: absolute;
      bottom: 0%;
      z-index: 2;
      width: 5%;
      background: hsla(0, 0%, 8%, 0.5);
      display: none;
      cursor: pointer;
      /* Mobile */
      @media (max-width: 600px) { 
        display: none;
      }
      & img{
        width: 2rem;
        filter: invert(95%) sepia(100%) saturate(19%) hue-rotate(357deg) brightness(106%) contrast(105%);
        align-self: center;
        left: 30%;
        position: absolute;
      }
    }
    .right{
      right: 0%;
    }
  }
}
#liste-media{
  display: flex;
  // @media (max-width: 600px){
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
    overflow-y: hidden;
  //   padding-right: .5rem;
  // }
}