.error-header{
  padding: 1rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  & img{
    width: 7rem;
  }
}
.error-section{
  height: 92vh;
  overflow: hidden;
  .error-contenu{
    position: absolute;
    z-index: 2;
    left: 17%;
    top: 25%;
    text-align: center;
    /* Mobile */
    @media (max-width: 600px) { 
      left: 0%;
    }
    /* Tablette */
    @media (min-width: 601px) and (max-width: 1024px) { 
      left: 5%;
    }
    & h1{
      font-size: 4em;
      /* Mobile */
      @media (max-width: 600px) { 
        font-size: 2em;
      }
    }
    & p{
      font-size: 1.3em;
    }
    & button{
      cursor: pointer;
      padding: 1rem;
      border-radius: 4px;
      background-color: white;
      border-style: none;
      -webkit-text-stroke-width: thin;
      margin-bottom: 4rem;
      &:hover{
        opacity: .8;
      }
    }
    & span{
      font-size: 1.8em;
      font-weight: 200;
      padding-left: 1rem;
      &:last-child{
        font-size: 1em;
        border: none;
      }
    }
  }
  .error-img{
    position: relative;
    width: 100%;
    opacity: .5;
    /* Mobile */
    @media (max-width: 600px) { 
      object-fit: cover;
      height: 95vh;
    }
    /* Tablette */
    @media (min-width: 601px) and (max-width: 1024px) { 
      object-fit: cover;
      height: 95vh;
    }
  }
}