@import '../utils/variables.scss';
@import '../utils/mixins.scss';


.login-profil_details{
  & img{
    filter: brightness(.3);
    height: 99vh;
    width: 100%;
    object-fit: cover;
  }
}
.login-description{
    position: absolute;
    top: 40%;
    left: 21%;
    text-align: center;
      /* Mobile */
    @media (max-width: 600px) { 
      top: 25%;
      left: 0%;
    }
      /* Tablette */
    @media (min-width: 601px) and (max-width: 1024px) { 
      top: 30%;
      right: 20%;
    }
    & h1{
        font-size: 3.5rem;
        font-weight: 900;
    }
    & span{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    & p{
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 2rem;
    }
}