@import '../utils/variables.scss';
@import '../utils/mixins.scss';


.login-profil_details{
  & img{
    filter: brightness(.3);
    height: 99vh;
    width: 100%;
    object-fit: cover;
  }
}
.login-description{
    position: absolute;
    top: 30%;
    left: 32%;
    // top: 40%;
    // left: 21%;
    text-align: center;
    & button{
      background-color: #E50815;
      border-radius: 4px;
      padding-left: 1.1rem;
      padding-right: 1.1rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      cursor: pointer;
      border: none;
      margin-right: 0.5rem;
      color: white;
      font-weight: bold;
      font-size: initial;
    }
      /* Mobile */
    @media (max-width: 600px) { 
      top: 25%;
      left: 0%;
      margin: 2rem;
    }
      /* Tablette */
    @media (min-width: 601px) and (max-width: 1024px) { 
      top: 30%;
      left: 20%;
      width: 60%;
    }
    & h1{
      font-size: 3.5rem;
      font-weight: 900;
      /* Mobile */
      @media (max-width: 600px) { 
        font-size: 2rem;
      } 
    }
    & span{
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      /* Mobile */
      @media (max-width: 600px) { 
        font-size: 1.5rem;
      } 
    }
    & p{
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 2rem;
    }
}