// header
.main-profil{
  background-color: #141414;
  height: 99vh;
  position: relative;
  .profil-container{
    text-align: center;
    position: absolute;
    width: 25%;
    right: 37%;
    top: 20%;
  }
  &-h1{
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &-button{
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2vw;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
    color: grey;
      &:hover{
        color: white;
      }
  }
}

