// header
.main-profil{
  background-color: #141414;
  height: 99vh;
  position: relative;
  .profil-container{
    text-align: center;
    position: absolute;
    width: 25%;
    right: 37%;
    top: 20%;
    /* Mobile */
    @media (max-width: 600px) { 
      width: 100%;
      right: 0%;
      top: 25%;
    }
    /* Tablette */
    @media (min-width: 601px) and (max-width: 1024px) {
      top: 30%;
    }
  }
  &-h1{
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 1.5rem;
    /* Mobile */
    @media (max-width: 600px) { 
      font-size: 10vw;
    }
  }
  .profils{
    .profil{
      img{
        height: 10vw;
        width: 10vw;
        /* Mobile */
        @media (max-width: 600px){ 
          height: 30vw;
          width: 30vw;
        }
      }
      h2{
        font-size: 1.2rem;
      }
    }
  }
  &-button{
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2vw;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
    color: grey;
    /* Mobile */
    @media (max-width: 600px) { 
      font-size: 4vw;
    }
      &:hover{
        color: white;
      }
  }
}

