.carousel-container{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0; /* remplace top/left/right/bottom */
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
    #media_modal{
      border: 2px solid cornflowerblue;
      width: 50%;
      .closeModal-buton{
        border: 2px solid pink;
        top: 15%;
        left: 72%;
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 75%;
        background-color: black;
        .closeModal{
          border: 2px solid red;
          position: absolute;
          width: 70%;
          top: 3px;
          right: 3px;
          font-size: 2rem;
          cursor: pointer;
          background: none;
          z-index: 2000;
          filter: invert(100%);
        }
        &:hover{
        border: 2px solid white;
        }
      }
      .div-media-img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: .5rem .5rem 0rem 0rem;
        & img{
          width: 100%;
          height: 50vh;
          object-fit: cover;
          border-radius: .5rem .5rem 0rem 0rem;
        }
      }
      .div-media_details{
        position: absolute;
        top: 40%;
        margin-left: 3rem;
        & h1{
          margin-top: 0;
        }
        .like-button_media{
          border-radius: 50%;
          width: 0%;
          height: 45px;
          background-color: black;
          border: 2px solid hsla(0,0%,100%,.5);
          padding: 1.5rem;
          transition: 0.2s ease;
          & img{
            filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(7deg) brightness(102%) contrast(102%);
            padding-right: 0;
          }
          &:hover{
            border: 2px solid white;
          }
          // &.liked{
          //   animation: pop 0.25 forwards;
          //   filter: brightness(1.5);
          // }
        }
        .like-button_media.liked{
          // filter: brightness(0) saturate(100%) hue-rotate(330deg);
          // transform: scale(1.1);
        }
      }
      .div-media_description{
        padding: 3rem;
        display: flex;
        background-color: #181818;
        .resume-carousel{
          width: 50%;
        }
        .tags{
          width: 50%;
          text-align: center;
          & p{
            color: grey;
          }
        }
      }
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 3rem;
        position: absolute;
        bottom: 39%;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5), #181818);
      }
      &:hover{
        cursor: pointer;
      }
    }
}