.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0; /* remplace top/left/right/bottom */
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
    #media_modal{
      width: 50%;
      height: 80vh;
      /* Tablette */
      @media (min-width: 601px) and (max-width: 1024px) {
        width: 90%;
      }
      @media (max-width: 600px){
        width: 94%;
      }
      .closeModal-buton{
        border: 1px solid white;
        top: 12%;
        left: 71%;
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 75%;
        background-color: black;
        /* Tablette */
        @media (min-width: 601px) and (max-width: 1024px) {
          left: 88%;
        }
        @media (max-width: 600px){
          left: 85%;
        }
        .closeModal{
          position: absolute;
          width: 70%;
          top: 6px;
          right: 6px;
          font-size: 2rem;
          cursor: pointer;
          background: none;
          z-index: 2000;
          filter: invert(100%);
        }
      }
      .div-media-img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: .5rem .5rem 0rem 0rem;
        & img{
          width: 100%;
          height: 50vh;
          object-fit: cover;
          border-radius: .5rem .5rem 0rem 0rem;
        }
      }
      .div-media_details{
        position: absolute;
        top: 40%;
        margin-left: 3rem;
        & h1{
          margin-top: 0;
        }
        .like-button_media{
          border-radius: 50%;
          width: 0%;
          height: 45px;
          background-color: black;
          padding: 1.5rem;
          transition: 0.2s ease;
          & img{
            filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(7deg) brightness(102%) contrast(102%);
            padding-right: 0;
          }
          & img.liked{
            filter: brightness(0) saturate(100%) invert(23%) sepia(52%) saturate(3000%) hue-rotate(355deg) brightness(93%) contrast(105%);
          }
        }
      }
      .div-media_description{
        background-color: #181818;
        padding: 3rem;
        display: flex;
        border-radius: 0rem 0rem .5rem .5rem ;
        /* Mobile */
        @media (max-width: 600px) { 
          padding: 1rem;
        }
        .resume-carousel{
          width: 50%;
        }
        .tags{
          width: 50%;
          text-align: center;
          & p{
            color: grey;
          }
        }
      }
      &::after{
        content: "";
        display: block;
        width: 50%;
        height: 3rem;
        position: absolute;
        bottom: 40%;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5), #181818);
        @media (max-width: 600px){
          width: 94%;
        }
        /* Tablette */
        @media (min-width: 601px) and (max-width: 1024px) {
          width: 90%;
        }
      }
      &:hover{
        cursor: pointer;
      }
    }
}