.presentation_details{
  position: absolute;
  top: 30%;
  left: 4%;
  .resume{
    width: 70%;
  }
  &-developpeur-name{
    & img{
      width: 1rem;
    }
  }
  &-buttons{
    display: flex;
    &-first, &-second{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 4px;
      padding-left: 1.5rem;
      padding-right: 1.6rem;
      cursor: pointer;
      border: none;
      margin-right: 0.5rem;
      & p{
        color: black;
        font-size: 1.1rem;
        line-height: 2.4rem;
        margin: 0;
        font-weight: 500;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
    &-second{
      background-color: rgba(109, 109, 110, 0.7);
      & p{
        color: white;
      }
      & img{
        filter: invert(95%) sepia(100%) saturate(19%) hue-rotate(357deg) brightness(106%) contrast(105%);
      }
      &:hover{
        background-color: rgba(109, 109, 110, 0.4);
      }
    }
    & img{
      width: 1.5rem;
      padding-right: 0.5rem;
    }
  }
}