// section profil
.profils{
  display: flex;
  justify-content: space-around;
  .profil{
    cursor: pointer;
    &-img{
      height: 10vw;
      width: 10vw;
      object-fit: cover;
      border-radius: 4px;
      /* Mobile */
      @media (max-width: 600px) { 
        height: 25vw;
        width: 25vw;
      }
    }
    h2{
      color: grey;
      font-weight: 400;
      font-size: 1.2rem;
      margin: 0.5rem;
    }
    a{
      text-decoration: none;
    }
  }
  &:hover{
    .profil-img{
      background-color: white;
    }
    h2{
      color: white;
    }
  }
}
