// // display flex
// @mixin DF{
//   display: flex;
// };
// // justify-content
// @mixin JCC{
//   justify-content: center;
// };
// @mixin JCS{
//   justify-content: start;
// };
// @mixin JCE{
//   justify-content: end;
// };
// @mixin JCSA{
//   justify-content: space-around;
// };
// @mixin JCSB{
//   justify-content: space-between;
// };
// // align items
// @mixin AIC{
//   align-items: center;
// }